.personal-info {
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    height: 362px;
    box-sizing: border-box;
}

.personal-info h2 {
    margin: 0 0 24px;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-h);
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 18px;
}

.inputs input {
    height: 42px;
    border: 1px solid #2D63FF;
    border-radius: 4px;
    padding: 0 12px;
    outline: none;
    font-size: 14px;
    color: #333333;
    background: #FFFFFF;
    box-sizing: border-box;
    
}

.inputs input::placeholder {
    color: #2D63FF;
}

.inputs input:focus {
    border-color: #1E4FE0;
}

.full {
    grid-column: 1 / 3;
}

.buttons {
    margin-top: 36px;
    display: flex;
    gap: 12px;
}

.save,
.cancel {
    flex: 1;
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

.save {
    border: none;
    background: #2D63FF;
    color: #FFFFFF;
}

.save:hover {
    background: #1E4FE0;
}

.cancel {
    border: 1px solid #2D63FF;
    background: #FFFFFF;
    color: #2D63FF;
}

.cancel:hover {
    background: #F5F8FF;
}