.top-navbar {
    background: #4b4e57;
}

.top-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: .2s;
}

.top-link:hover {
    color: #d9d9d9;
}

.logo-placeholder {
    width: 190px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-weight: 600;
}

.search-input {
    border-right: none;
    background: #f5f5f5;
}

.search-input:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.input-group .btn {
    background: #f5f5f5;
}

.icon-item {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-size: 13px;
}

.icon-item i {
    font-size: 22px;
    margin-bottom: 4px;
}

.cart-badge {
    position: absolute;
    top: -7px;
    right: -10px;
    width: 17px;
    height: 17px;
    background: #0d6efd;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container,
.container-lower {
  max-width: 1880px !important;
  margin-left: auto !important;  /* Центрує блок */
  margin-right: auto !important; /* Центрує блок */
  padding-left: 100px;
  padding-right: 100px;
}

.spannn {
    color: var(--text);
}

.icon {
    color: var(--text);
}